@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overscroll-behavior: none;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Prevent text selection */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Full height for mobile */
html,
body {
  height: 100%;
  overflow: hidden;
}
